<header>
  <img class="headerLogo" src="./assets/icons/Logo.png" alt="Deloitte Logo">
</header>

<section>
  <!--The content below is only a placeholder and can be replaced.-->

  <div class="rowPartition">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img class="items" src="https://lorempixel.com/900/500?r=4" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
              <img class="items" src="https://lorempixel.com/900/500?r=5" alt="Random second slide">
            </ng-template>
            <ng-template ngbSlide>
              <img class="items" src="https://lorempixel.com/900/500?r=6" alt="Random third slide">
            </ng-template>
          </ngb-carousel>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
      <button type="button" class="btn btn-primary" routerLink='/file-upload'>Upload Scripts</button>
      <button type="button" class="btn btn-primary" routerLink='/schedule-jobs'>Schedule Jobs</button>
  </div>



</section>

<footer>
  <p> Copyright © 2019 Deloitte Development LLC. All rights reserved.</p>
</footer>