<section>
  <!--The content below is only a placeholder and can be replaced.-->

  <div class="rowPartition">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img class="items" src="./assets/images/home/DG2AHJ_lo.png" alt="Random first slide">
            </ng-template>
            <ng-template ngbSlide>
              <img class="items" src="./assets/images/home/EXF8BN_lo.png" alt="Random second slide">
            </ng-template>
            <ng-template ngbSlide>
              <img class="items" src="./assets/images/home/E85ABT_lo.png" alt="Random third slide">
            </ng-template>
          </ngb-carousel>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
      <button type="button" class="btn btn-primary" routerLink='/file-upload'>Upload Scripts</button>
      <button type="button" class="btn btn-primary" routerLink='/schedule-jobs'>Schedule Jobs</button>
  </div>



</section>
