
  section {
    position: relative;
  }
  
  .buttons {
   align-items: center;
   margin-top: 50px;
  }
  
  .items {
    margin-top: 100px;
    height:270px; 
    width:100%;
    
  }

  .btn-primary{
    margin-left:297px;
    height: 100px;
    width: 200px;
    background-color: black;
    border-color: lavender;
    }
  