<side-bar></side-bar>
<div style="height: 100px; height: 400px; margin-left: 150px; margin-top: 30px">
    <h3 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Schedule Jobs</h3>
  <form [formGroup]="scheduleForm" (ngSubmit)="scheduleJob()">
    <mat-card-content>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Job Name</mat-label>
        <mat-select [(value)]="selected" formControlName="jobName">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
        <br/>
      </mat-form-field>
      <label id="file-upload" style="margin-left: 10px ;background-color: black">
          Select file
          <input formControlName="files" accept=".xml" style="display:none;" type="file" ng2FileSelect [uploader]="uploader" required/>
      </label>
    
      <div class="selected-file" *ngFor="let item of uploader.queue">
          {{ item.file.name}}
      </div>
 
      <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
    
      <mat-selection-list formControlName="daySelected">
        <mat-list-option *ngFor="let day of days" value={{day.substring(0,3)}}>
          {{day}}
        </mat-list-option>
      </mat-selection-list>
      <!-- <br/> -->
     <div class= "time-block">
       <mat-card-content>
          <button mat-raised-button [color]="'black'" (click)="open()" style="margin-right: 10px" type="button">Time</button>
          
          <mat-form-field>
            <input matInput formControlName="time" type="time" value="{{selectedTime}}" />
          </mat-form-field>
          <button mat-icon-button (click)="multipleTime()" type="button">
            <mat-icon>add_circle</mat-icon>
          </button>
       </mat-card-content>
       <button mat-raised-button [color]="'black'" [disabled]="!scheduleForm.valid" type="submit">Schedule job</button>
      </div>
      <!-- <br/> -->
    </mat-card-content>
  </form>
</div>
