input[type="file"] {
    display: none;
}

#file-upload {
    background-color: #3f51b5;
    color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
}

.mat-black {
    background-color: black;
    color: white;
}

::ng-deep button:focus{
    outline: none;
}

::ng-deep .mat-pseudo-checkbox{
    margin-right: 950px;
}

::ng-deep .mat-pseudo-checkbox-checked {
    background: #00796B;
}